<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vacationventurepe">

    <!--  网络权限  -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--  手机状态读取权限  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--  调用A-GPS模块权限  -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--  网络定位(基于WIFI基站的模糊定位)权限  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--  GPS定位(基于卫星的精确定位)权限  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--  移动网络运营商查询服务权限  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--  WIFI基站查询权限  -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--  WIFI修改权限  -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".application.RoboApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/vacation_venture_icon_foreground"
        android:label="@string/app_ch_name"
        android:roundIcon="@mipmap/vacation_venture_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        tools:targetApi="31">

        <!--AMap的定位服务-->
        <service android:name="com.amap.api.location.APSService"/>

        <activity android:name=".CoverActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:exported="true"/>

        <activity android:name=".MainActivity"
            android:exported="false"/>

    </application>


</manifest>